python==3.10
numpy
opencv-python
Pillow
matplotlib
pycocotools
scipy


torch==2.1.0
torchvision>=0.16.0
torchaudio==2.1.0


mmcv==2.1.0
-f https://download.openmmlab.com/mmcv/dist/cu118/torch2.1/index.html

# MMDetection
mmdet>=2.28.2

openmim

tqdm